.bg-login{
    background-image: url("../image/login/slide3.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4;
}
.box-login{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 500px;
    text-align: center;
}
@media (max-width: 768px) {
    .box-login {
        width: 70%;
        height: 70%;
    }
}